@import 'normalize.css';
@import url('https://use.typekit.net/czc2rim.css');

:root {
  --vh: 1vh;
}

html {
  position: relative;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  min-height: 100%;
  box-sizing: border-box;
  background: #F6F2EF;
  color: #000;
  font: 18px/1.3125 gal-gothic-variable, sans-serif;
  font-variation-settings: 'wght' 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html *,html :after,html :before {
  box-sizing: border-box;
  transform-origin: 50% 50%
}

::-moz-selection {
  background-color: #004a49;
  color: #fff
}

::selection {
  background-color: #004a49;
  color: #fff
}

.marydale {
  font-family: marydale, sans-serif;
}

h1,h2,p {
  margin: 0
}

.h1, h1, h2 {
  font-weight: 400
}

.h2, h2 {
  font-size: 36px;
  line-height: 1.4
}

h4 {
  margin-block-end: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0
}

a {
  text-decoration: none;
  color: inherit
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  padding: 0;
  background: none
}

strong {
  font-variation-settings: 'wght' 700;
}

.alignCenter,
.alignVerticalCenter {
  display: flex;
  align-items: center;
}

.alignVerticalCenter {
  flex-direction: column;
}

.container,
.containerDefault {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.containerDefault {
  max-width: 1120px;
}

.posAbsolute,
.posAbsoluteCenter,
.posFit {
  position: absolute;
}

.posVerticalCenter {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.posAbsoluteCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.posFit,
.posFullScreen {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
}

.Container {
  margin-left: 215px;
  margin-right: 45px;
  @media (max-width: 1600px) {
    margin-left: 175px;
  }
  @media (max-width: 1000px) {
    margin-left: 165px;
  }
  @media (max-width: 767px) {
    margin-left: 60px;
    margin-right: 20px;
  }
}